<div class="create-song-wrapper">
  <div class="header">
    <h1>Añade nueva canción</h1>
    <p>Rellena los campos</p>
  </div>

  <form class="song-form" (ngSubmit)="onSubmit()">
    <label for="title">Título</label>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="title"
      required
    />

    <label for="artist">Artista</label>
    <input
      type="text"
      id="artist"
      name="artist"
      [(ngModel)]="artist"
      required
    />

    <label for="genre">Genero</label>
    <input
      type="text"
      id="genre"
      name="genre"
      [(ngModel)]="genre"
    />

    <label for="duration">Duración (segundos)</label>
    <input
      type="number"
      id="duration"
      name="duration"
      [(ngModel)]="duration"
      min="0"
    />

    <label for="url">URL del Audio</label>
    <input
      type="url"
      id="url"
      name="url"
      [(ngModel)]="url"
      placeholder="https://example.com/track.mp3"
    />
    <label for="image">URL de la imagen</label>
    <input
      type="url"
      id="image"
      name="image"
      [(ngModel)]="image"
      placeholder="https://example.com/image.jpg"
    />

    <button type="submit" class="save-btn">Añadir Canción</button>
  </form>
</div>
