<div class="dashboard">
    <aside class="sidebar">
      <div class="logo">AppMusica</div>
      <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">Buscar</a>
        <a href="#">Tu Biblioteca</a>
      </nav>
      <div class="playlists">
        <p class="playlist-title">PLAYLISTS</p>
        <a href="playlist/new">Crear Playlist</a>
        <a href="#">Canciones Favoritas</a>
        <a href="#" class="logout-btn" (click)="logout()">Cerrar sesión</a>
      </div>
      
    </aside>
  
    <main class="main-content">
      <h1>Welcome back!</h1>
      <section class="section">
        <h2>Made for You</h2>
        <div class="grid">
          <div class="card" *ngFor="let i of [1,2,3,4,5]">
            <div class="album-cover"></div>
            <p>Playlist {{ i }}</p>
          </div>
        </div>
      </section>
  
      <section class="section">
        <h2>Recently Played</h2>
        <div class="grid">
          <div class="card" *ngFor="let i of [6,7,8,9,10]">
            <div class="album-cover"></div>
            <p>Track {{ i }}</p>
          </div>
        </div>
      </section>
    </main>
  </div>