<div class="create-playlist-wrapper">
    <div class="header">
      <h1>Crea una nueva playlist</h1>
      <p>Dale un nombre y una descripción a tu playlist. Puedes añadir canciones más abajo.</p>
    </div>
  
    <form class="playlist-form">
      <label for="title">Título de la Playlist</label>
      <input type="text" id="title" [(ngModel)]="title" name="title" required />
  
      <label for="description">Descripción</label>
      <textarea id="description" [(ngModel)]="description" name="description"></textarea>

      <label for="image">Enlace de la Portada</label>
        <input
        type="text"
        id="image"
        [(ngModel)]="image"
        name="image"
        placeholder="https://example.com/image.jpg"
        />

        <!-- Preview de la foto -->
        <div class="image-preview" *ngIf="image">
        <img [src]="image" alt="Playlist cover image" />
        </div>

  
      <div class="public-toggle">
        <label>
          <input type="checkbox" [(ngModel)]="isPublic" name="isPublic" />
          Hacer pública la playlist
        </label>
      </div>
    </form>
  
    <div class="search-section">
      <h2>Buscar canciones</h2>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        name="searchQuery"
        placeholder="Busca una canción..."
      />
      <!-- Lista de canciones placeholde hasta q haya canciones -->
      <div class="search-results">
        <div class="song-card" *ngFor="let song of filteredSongs">
          <span>{{ song.title }} — {{ song.artist }}</span>
          <button (click)="addSong(song)">Añadir</button>
        </div>
      </div>
    </div>
  
    <div class="preview-section" *ngIf="title || description || selectedSongs.length > 0">
      <h2>Preview de la Playlist</h2>
      
      <div class="playlist-preview-card">
        <div class="playlist-image" *ngIf="image">
          <img [src]="image" alt="Cover" />
        </div>
    
        <div class="playlist-info">
          <h3>{{ title || 'Título de la Playlist' }}</h3>
          <p class="description">{{ description || 'Aquí va la descripción de tu playlist...' }}</p>
        </div>
      </div>
    
      <div class="playlist-songs">
        <h4>Canciones:</h4>
        <ul>
          <li *ngFor="let song of selectedSongs">
            {{ song.title }} — {{ song.artist }}
            <button (click)="removeSong(song)">Eliminar</button>
          </li>
        </ul>
      </div>
    </div>
    
  
    <button class="save-btn" (click)="savePlaylist()">Crear Playlist</button>
  </div>
